body {
  font-family: Arial;
  background: #f4f6f8;
}

.card {
  width: 350px;
  margin: 80px auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  text-align: center;
}

input {
  width: 90%;
  margin: 8px 0;
  padding: 8px;
}

button {
  width: 95%;
  padding: 10px;
  background: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #45a049;
}

